@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.reveal h1, .reveal h2 {
	font-family: 'Averia Sans Libre', serif !important;
	font-weight: normal;
}
.reveal p, .reveal li {
	font-family: 'Raleway', serif !important;
	padding-bottom: 20px;
}


.reveal h1, .reveal h2{
	color: #a1d700;
	margin-bottom: 100px;
}
.template {
  
}
.template-left {
	text-align: left;
}
.highlight {
	color: orange;
	font-weight: bold;
}
.link {
	color: #3399ff;
	text-decoration: underline;
}

.reveal section img.no-border {
	border: none;
}

.reveal pre code {
    padding: 20px;
}